@using Movies.WebUI.Dtos
@model List<ResultMovieDto>


<div class="movie-items">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-8">
				<div class="title-hd">
					<h2>Sinema Filmleri</h2>
					<a href="#" class="viewall">Tümünü gör<i class="ion-ios-arrow-right"></i></a>
				</div>
				<div class="tabs">
					<ul class="tab-links">
						<li class="active"><a href="#tab1">#Popüler</a></li>
						<li><a href="#tab2"> #Yeni</a></li>
						<li><a href="#tab3">  #En Beğenilenler</a></li>
						<li><a href="#tab4"> #En Çok İzlenenler</a></li>
					</ul>
					<div class="tab-content">
						<div id="tab1" class="tab active">
							<div class="row">
								<div class="slick-multiItem">
									@foreach (var item in Model)
									{
										<div class="slide-it">
											<div class="movie-item">
												<div class="mv-img">
													<img src="/Film-Review-Movie-Database/images/uploads/mv-item1.jpg" alt="" width="185" height="284">
												</div>
												<div class="hvr-inner">
													<a href="moviesingle.html">Devamını Oku<i class="ion-android-arrow-dropright"></i> </a>
												</div>
												<div class="title-in">
													<h6><a href="#">@item.movieName</a></h6>
													<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
												</div>
											</div>
										</div>
									}
									
								</div>
							</div>
						</div>
						
					</div>
				</div>
				@await Component.InvokeAsync("_InListSeries")
			</div>
			@await Component.InvokeAsync("_Last3Movie")
			
			<div class="col-md-4">
				<div class="sidebar">

					<div class="celebrities">
						<h4 class="sb-title">Spotlight Celebrities</h4>
						<div class="celeb-item">
							<a href="#"><img src="/Film-Review-Movie-Database/images/uploads/ava1.jpg" alt="" width="70" height="70"></a>
							<div class="celeb-author">
								<h6><a href="#">Samuel N. Jack</a></h6>
								<span>Actor</span>
							</div>
						</div>
						<div class="celeb-item">
							<a href="#"><img src="/Film-Review-Movie-Database/images/uploads/ava2.jpg" alt="" width="70" height="70"></a>
							<div class="celeb-author">
								<h6><a href="#">Benjamin Carroll</a></h6>
								<span>Actor</span>
							</div>
						</div>
						<div class="celeb-item">
							<a href="#"><img src="/Film-Review-Movie-Database/images/uploads/ava3.jpg" alt="" width="70" height="70"></a>
							<div class="celeb-author">
								<h6><a href="#">Beverly Griffin</a></h6>
								<span>Actor</span>
							</div>
						</div>
						<a href="#" class="btn">See all celebrities<i class="ion-ios-arrow-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	.col-md-4 {
		margin-bottom: 70px;
	}
</style>