@using Movies.WebUI.Dtos
@model List<ResultCategoryDto>
@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
} 

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yeni Kategori Ekle</h4>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> KATEGORİ </th>
                                <th> KATEGORİ DÜZENLE  </th>
                                <th> KATEGORİ SİL </th>
                                <th> KATEGORİ DETAY </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th>
                                        @item.categoryId
                                    </th>
                                    <td> @item.categoryName </td>

                                    <td> <a href="/AdminCategory/UpdateCategory/@item.categoryId" class="btn btn-outline-warning btn-fw">Düzenle</a> </td>
                                    <td> <a href="/AdminCategory/DeleteCategory/@item.categoryId" class="btn btn-outline-danger btn-fw">Sil</a> </td>
                                    <td> <a href="/AdminCategory/CategorysWithMovies/@item.categoryId" class="btn btn-outline-danger btn-fw">İçerikleri Gör</a> </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <a href="/AdminCategory/CreateCategory" class="btn btn-outline-success btn-fw">Yeni Kategori Ekle</a>
                </div>
            </div>
        </div>
    </div>
</div>